<% include head %>
<div class="container" style="margin-top: 60px;">
    <div class="row">
        <div class="panel panel-default">
            <div class="panel-heading">
                Authorized applications
            </div>
            <div class="panel-body" id="vue-body">
                <form class="form">
                    <div class="form-group">
                        <div class="col-sm-12">
                            <table class="table">
                                <tbody>
                                    <tr v-for="application in applications">
                                        <td>
                                            <a href="javascript:void(0)"
                                                @click="show(application)">
                                                {{application.name}}
                                            </a>
                                            <p>
                                                owned by: {{application.creator.name}}
                                                •
                                                last used: {{application.lastUsed}}
                                            </p>
                                        </td>
                                        <td style="width: 70px">
                                            <button type="button" class="btn btn-danger"
                                                @click="revoke(application)">Revoke</button>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </form>
                <form class="form" v-if="application">
                    <div class="form-group">
                        <label>name</label>
                        <input type="text" class="form-control" readonly v-model="application.name">
                    </div>
                    <div class="form-group">
                        <label>home url</label>
                        <input type="text" class="form-control" readonly v-model="application.homeUrl">
                    </div>
                    <div class="form-group">
                        <label>description</label>
                        <input type="text" class="form-control" readonly v-model="application.description">
                    </div>
                    <div class="form-group">
                        <label>scopes</label>
                        <table>
                            <tbody>
                                <tr v-for="scope in application.scopes">
                                    <td>{{scope.name}}</td>
                                    <td>{{scope.description}}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<% include scripts %>
<script type="text/javascript" src="./scripts/authorized<%- dotMin %>.js"></script>
<% include foot %>
