<% include hair %>
<header class="navbar navbar-inverse" role="banner" id="vue-head">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse-1" aria-expanded="false">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand hidden-sm" href="./index.html">Home</a>
        </div>
        <div class="collapse navbar-collapse" role="navigation" id="navbar-collapse-1">
            <ul class="nav navbar-nav">
                <li>
                    <a href="./index.html">Themes</a>
                </li>
                <li v-show="canCreateOrganization" style="display: none;">
                    <a href="./new_organization.html">New Organization</a>
                </li>
                <li v-show="canInvite" style="display: none;">
                    <a href="./invite.html">Invite</a>
                </li>
                <li v-show="loginStatus === 'success'" style="display: none;">
                    <a href="./registered.html">Registered</a>
                </li>
                <li v-show="loginStatus === 'success'" style="display: none;">
                    <a href="./authorized.html">Authorized</a>
                </li>
                <li v-show="loginStatus === 'success'" style="display: none;">
                    <a href="./access_tokens.html">Access token</a>
                </li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li>
                    <a href="javascript:void(0)"
                        v-show="loginStatus === 'unknown'">
                        <span class="glyphicon glyphicon-user" style="top:2px"></span> &nbsp;
                        <span>Login now...</span>
                    </a>
                    <a href="./user.html"
                        v-show="loginStatus === 'success'"
                        style="display: none;">
                        <span class="glyphicon glyphicon-user" style="top:2px"></span> &nbsp;
                        <span>{{currentUserName}}</span>
                        <span class="glyphicon glyphicon-envelope" style="top:2px"></span> &nbsp;
                        <span>{{currentUserEmail}}</span>
                        <img :src="currentAvatar"style="height: 20px; width:20px;" v-if="loginStatus === 'success'">
                    </a>
                    <a href="./login.html"
                        v-show="loginStatus === 'fail'"
                        style="display: none;">
                        <span class="glyphicon glyphicon-user" style="top:2px"></span> &nbsp;Login
                    </a>
                </li>
                <li v-show="loginStatus == 'fail'"
                    style="display: none;">
                    <a href="<%- apiBaseUrl %>/login_with_github">
                        <span class="fa fa-github" style="top:2px"></span> &nbsp;Login with Github
                    </a>
                </li>
                <li v-show="loginStatus == 'success'">
                    <a href="javascript:void(0)" @click="exit()">
                        <span class="glyphicon glyphicon-log-out" aria-hidden="true"></span>
                    </a>
                </li>
            </ul>
        </div>
    </div>
    <div class="alert alert-{{alertIsSuccess ? 'success' : 'danger'}}" role="alert"
        v-show="showAlertMessage"
        style="position: fixed; top: 60px; left: 20px; right: 20px; z-index: 1;">
        {{alertMessage}}
    </div>
    <div style="position: fixed; top: 0; left: 0; right: 0; bottom: 0; text-align: center; z-index: 1; display: none;"
        v-show="requestCount > 0">
        <i class="fa fa-spinner fa-pulse fa-5x" style="margin-top: 200px;"></i>
    </div>
</header>
