<% include head %>
<div class="container" style="margin-top: 60px;">
    <div class="row">
        <div class="panel panel-default">
            <div class="panel-heading">
                Themes
            </div>
            <div class="panel-body">
                <form class="form-horizontal" id="vue-body" v-show="currentOrganizationId !== ''" style="display: none;">
                    <div class="form-group">
                        <div class="col-sm-12">
                            <label class="the-label {{$root.currentOrganizationId === organization.id ? 'label-active':''}}"
                                v-for="organization in organizationsCurrentUserIn"
                                @click="clickOrganization(organization)">
                                {{organization.name}}
                            </label>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-4">
                            <input class="form-control" v-model="q" @keyup.13="fetchThemes(1)">
                        </div>
                        <div class="col-sm-8">
                            <label class="the-label {{isOpen ? 'label-active':''}}"
                                @click="clickOpen()">
                                open
                            </label>
                            <label class="the-label {{isClosed ? 'label-active':''}}"
                                @click="clickClosed()">
                                closed
                            </label>
                            order by
                            <label class="the-label {{order === 'newest' ? 'label-active':''}}"
                                @click="clickOrder('newest')">
                                newest
                            </label>
                            <label class="the-label {{order === 'recently updated' ? 'label-active':''}}"
                                @click="clickOrder('recently updated')">
                                recently updated
                            </label>
                            <span class="glyphicon glyphicon-search btn btn-primary" aria-hidden="true" @click="fetchThemes(1)"></span>
                            <span class="glyphicon glyphicon-{{showCreate ? 'minus' : 'plus'}} btn btn-primary" aria-hidden="true"
                                v-show="canShowCreate"
                                @click="clickShowCreate()"></span>
                        </div>
                    </div>
                    <div class="form-group" v-show="canShowCreate && showCreate">
                        <label class="col-sm-2 control-label">title</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" v-model="newThemeTitle">
                        </div>
                    </div>
                    <div class="form-group" v-show="canShowCreate && showCreate">
                        <label class="col-sm-2 control-label">detail</label>
                        <div class="col-sm-10">
                            <textarea class="form-control" v-model="newThemeDetail"></textarea>
                        </div>
                    </div>
                    <div class="form-group" v-show="canShowCreate && showCreate">
                        <div class="col-sm-10 col-sm-offset-2">
                            <button type="button" class="btn btn-primary"
                                v-show="canCreate"
                                @click="createTheme()">Create</button>
                            <button type="button" class="btn btn-primary" disabled
                                v-else>Please input title</button>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-12">
                            <table class="table">
                                <tbody>
                                    <tr v-for="theme in themes"
                                        @mouseover="theme.isHovering = true"
                                        @mouseout="theme.isHovering = false">
                                        <td style="width: 70px">
                                            <img :src="theme.creator.avatar" height="50" width="50">
                                        </td>
                                        <td>
                                            <h5>
                                                <span v-show="themeIdInEditing !== theme.id">
                                                    {{theme.title}}
                                                    <span class="label label-success"
                                                        v-show="theme.status === 'open'">open</span>
                                                    <span class="label label-danger" v-else>closed</span>
                                                </span>
                                                <input class="form-control"
                                                    v-else
                                                    v-model="titleInEditing">
                                            </h5>
                                            <div>
                                                <span v-show="themeIdInEditing !== theme.id">{{theme.detail}}</span>
                                                <textarea class="form-control"
                                                    v-else v-model="detailInEditing"></textarea>
                                            </div>
                                            <div style="height: 22px;">
                                                <button type="button" class="clip btn btn-xs btn-link" :data-clipboard-text="theme.creator.email">
                                                    {{theme.creator.name}}
                                                </button>
                                                •
                                                created {{theme.createTimeText}}
                                                <div :style='{ display: theme.updateTimeText ? "inline" : "none" }'>
                                                    •
                                                    updated {{theme.updateTimeText}}
                                                </div>
                                                •
                                                <button type="button" class="clip btn btn-xs btn-link" :data-clipboard-text="theme.ownersEmails"
                                                    v-show="theme.owners.length > 0">
                                                    {{theme.owners.length}} {{theme.owners.length > 1 ? "owners" : "owner"}}
                                                </button>
                                                <span v-else>no owner</span>
                                                •
                                                <button type="button" class="clip btn btn-xs btn-link" :data-clipboard-text="theme.watchersEmails"
                                                    v-show="theme.watchers.length > 0">
                                                    {{theme.watchers.length}} {{theme.watchers.length > 1 ? "watchers" : "watcher"}}
                                                </button>
                                                <span v-else>no watcher</span>
                                                <div :style='{ display: theme.isHovering ? "inline" : "none" }'>
                                                    •
                                                    <button type="button" class="btn btn-xs btn-link"
                                                        v-show="theme.isWatching"
                                                        @click="unwatch(theme)">
                                                        unwatch
                                                    </button>
                                                    <button type="button" class="btn btn-xs btn-link"
                                                        v-else
                                                        @click="watch(theme)">
                                                        watch
                                                    </button>
                                                    <div :style='{ display: theme.isOwner ? "inline" : "none" }'>
                                                        •
                                                        <button type="button" class="btn btn-xs btn-link"
                                                            v-show="theme.status === 'open'"
                                                            @click="close(theme)">
                                                            close
                                                        </button>
                                                        <button type="button" class="btn btn-xs btn-link"
                                                            v-else
                                                            @click="reopen(theme)">
                                                            reopen
                                                        </button>
                                                        <div :style='{ display: themeIdInEditing === null ? "inline" : "none" }'>
                                                            •
                                                            <button type="button" class="btn btn-xs btn-link"
                                                                @click="edit(theme)">
                                                                edit
                                                            </button>
                                                        </div>
                                                        <div :style='{ display: themeIdInEditing !== null && themeIdInEditing === theme.id ? "inline" : "none" }'>
                                                            <div :style='{ display: canSave && (titleInEditing !== theme.title || detailInEditing !== theme.detail) ? "inline" : "none" }'>
                                                                •
                                                                <button type="button" class="btn btn-xs btn-link"
                                                                    @click="save(theme)">
                                                                    save
                                                                </button>
                                                            </div>
                                                            <div :style='{ display: themeIdInEditing !== null ? "inline" : "none" }'>
                                                                •
                                                                <button type="button" class="btn btn-xs btn-link"
                                                                    @click="cancel(theme)">
                                                                    cancel
                                                                </button>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <div class="col-sm-12">
                            <button type='button' class='btn btn-primary btn-lg col-sm-12' style="display: none;"
                                @click="showMoreThemes()"
                                v-show="canShowMoreThemes">
                                show {{nextThemeCount}} more {{nextThemeCount > 1 ? "themes" : "theme"}}(total {{totalCount}})
                            </button>
                            <button type='button' class='btn btn-primary btn-lg col-sm-12' style="display: none;" disabled="disabled"
                                v-else>
                                total {{totalCount}}
                            </button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<% include scripts %>
<script>
    // socket.io must be defined here.
    var socket = io("<%- apiBaseUrl %>/themes");
</script>
<script type="text/javascript" src="./scripts/index<%- dotMin %>.js"></script>
<% include foot %>
