<% include hair %>
<div class="container" style="margin-top: 60px;">
    <div class="row">
        <div class="panel panel-default">
            <div class="panel-body">
                <div class="alert alert-success" role="alert">
                    success! go to <a href="/index.html" class="alert-link">Home page</a> now.
                </div>
            </div>
        </div>
    </div>
</div>
<% include scripts %>
<script type="text/javascript" src="./scripts/success<%- dotMin %>.js"></script>
<% include foot %>
