$border-and-word-color: #d44137;
$background-color: #fff;

* {
    font-family: "Lucida Grande", Lucida Sans Unicode, Hiragino Sans GB, WenQuanYi Micro Hei, Verdana, Aril, sans-serif;
    -webkit-font-smoothing: antialiased;
}

.the-label {
    background-color: $background-color;
    border: $border-and-word-color 1px solid;
    border-radius: 5px;
    color: $border-and-word-color;
    cursor: pointer;
    display: inline-block;
    margin: 2px 3px;
    padding: 5px 10px;
    user-select: none;
}

.the-label:hover {
    box-shadow: 0 0 10px $border-and-word-color;
}

.label-active {
    background-color: $border-and-word-color;
    color: $background-color;
}

.float-left {
    float: left;
}

.clearfix::before {
    content: ' ';
    display: table;
}

.clearfix::after {
    clear: both;
    content: ' ';
    display: table;
}

.theme-head-image {
    max-height: 100 px;
    max-width: 180px;
}

.theme-detail-image {
    display: block;
    height: auto;
    margin: 6px 0;
    max-width: 100%;
}

.theme-buttons {
    height: 22px;
}

.theme-creator-avatar {
    width: 70px;
}

.pointer {
    cursor: pointer;
}

.inline {
    display: inline;
}

.body-container {
    margin-top: 60px;
}

.relative {
    position: relative;
}

.theme-image-chooser {
    cursor: pointer;
    opacity: .0001;
    position: absolute;
    top: 0;
    width: 80 px;
}

.access-token-scope {
    margin-left: 5px;
    margin-right: 5px;
}

.authorized-application {
    width: 70px;
}

.head-icon {
    top: 2px;
}

.head-avatar {
    height: 20px;
    width: 20px;
}

.head-alert {
    left: 20px;
    position: fixed;
    right: 20px;
    top: 60px;
    z-index: 1;
}

.head-wait {
    bottom: 0;
    left: 0;
    position: fixed;
    right: 0;
    text-align: center;
    top: 0;
    z-index: 1;

    i {
        margin-top: 200px;
    }
}

.theme-title-status {
    margin-left: 3px;
}

.theme-add {
    margin-left: 3px;
}
