$border-and-word-color: #d44137;
$background-color: #fff;

* {
    font-family: "Lucida Grande", Lucida Sans Unicode, Hiragino Sans GB, WenQuanYi Micro Hei, Verdana, Aril, sans-serif;
    -webkit-font-smoothing: antialiased;
}

.the-label {
    background-color: $background-color;
    border: $border-and-word-color 1px solid;
    border-radius: 5px;
    color: $border-and-word-color;
    cursor: pointer;
    display: inline-block;
    margin: 3px 0;
    padding: 5px 10px;
    user-select: none;
}

.the-label:hover {
    box-shadow: 0 0 10px $border-and-word-color;
}

.label-active {
    background-color: $border-and-word-color;
    color: $background-color;
}

.float-left {
    float: left;
}

.clearfix::before {
    content: ' ';
    display: table;
}

.clearfix::after {
    clear: both;
    content: ' ';
    display: table;
}
